* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    user-select: none;
}

:root {
    --popup-BG: rgba(255, 255, 255, 0.95);
}

.leaflet-popup {
    background: var(--popup-BG);
    border-radius: 4px;
}

.leaflet-popup-content-wrapper {
    background: transparent;
    box-shadow: none;
}

.leaflet-popup-content {
    margin: 10px 14px;
}

.leaflet-popup-tip {
    background: var(--popup-BG);
}
