* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --popup-BG: rgba(255, 255, 255, 0.95);
}

.leaflet-popup-content-wrapper {
    background: var(--popup-BG);
    border-radius: 2px;
}

.leaflet-popup-content {
    margin: 0 19px;
}

.leaflet-popup-tip {
    background: var(--popup-BG);
}
